{% extends "urlaubsantrag/main.html" %}
{% load static %}

{% block details %}

    <div class="container hr-text">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div>

                    {% if selected_year_dict %}
                        <div class="row">
                            {% for month in selected_year_dict.months %}
                                <div class="card-body mx-4 col-5">
                                    <div class="text-center"; style="min-height:50px">
                                        <h1 class="mb-4">{{ month.month_name }}</h1>
                                    </div>
                                    <div class="row">
                                        <div class="card-body col border-3 rounded-2 ps-4"
                                             style="width: calc(100% / 7)">
                                            MO
                                        </div>
                                        <div class="card-body col border-3 rounded-2 ps-4"
                                             style="width: calc(100% / 7);">
                                            DI
                                        </div>
                                        <div class="card-body col border-3 rounded-2 ps-4"
                                             style="width: calc(100% / 7)">
                                            MI
                                        </div>
                                        <div class="card-body col border-3 rounded-2 ps-4"
                                             style="width: calc(100% / 7)">
                                            DO
                                        </div>
                                        <div class="card-body col border-3 rounded-2 ps-4"
                                             style="width: calc(100% / 7)">
                                            FR
                                        </div>
                                        <div class="card-body col border-3 rounded-2 ps-4"
                                             style="width: calc(100% / 7)">
                                            SA
                                        </div>
                                        <div class="card-body col border-3 rounded-2 ps-4"
                                             style="width: calc(100% / 7)">
                                            SO
                                        </div>
                                    </div>
                                    <div class="card">
                                        {% for week in month.weeks %}
                                            <div class="card-body row justify-content-evenly">
                                                <div class="card-body col border-3 rounded-2 "
                                                     style="width: calc(100% / 7)">
                                                    {% if week.MO %}
                                                        {{ week.MO.day_number }}
                                                        {% for request in week.MO.entries %}
                                                            <div style="background-color: darkred">
                                                            {{ request.requested_by.abbreviation}}
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                <div class="card-body col border-3 rounded-2 p-3"
                                                     style="width: calc(100% / 7)">
                                                    {% if week.DI %}
                                                        {{ week.DI.day_number }}
                                                        {% for request in week.DI.entries %}
                                                            <div style="background-color: darkred">
                                                            {{ request.requested_by.abbreviation }}
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                <div class="card-body col" style="width: calc(100% / 7)">
                                                    {% if week.MI %}
                                                        {{ week.MI.day_number }}
                                                        {% for request in week.MI.entries %}
                                                            <div style="background-color: darkred">
                                                            {{ request.requested_by.abbreviation}}
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                <div class="card-body col" style="width: calc(100% / 7)">
                                                    {% if week.DO %}
                                                        {{ week.DO.day_number }}
                                                        {% for request in week.DO.entries %}
                                                            <div style="background-color: darkred">
                                                            {{ request.requested_by.abbreviation }}
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                <div class="card-body col" style="width: calc(100% / 7)">
                                                    {% if week.FR %}
                                                        {{ week.FR.day_number }}
                                                        {% for request in week.FR.entries %}
                                                            <div style="background-color: darkred">
                                                            {{ request.requested_by.abbreviation }}
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                <div class="card-body col" style="width: calc(100% / 7)">
                                                    {% if week.SA %}
                                                        {{ week.SA.day_number }}
                                                        {% for request in week.SA.entries %}
                                                            <div style="background-color: darkred">
                                                            {{ request.requested_by.abbreviation }}
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                                <div class="card-body col" style="width: calc(100% / 7)">
                                                    {% if week.SO %}
                                                        {{ week.SO.day_number }}
                                                        {% for request in week.SO.entries %}
                                                            <div style="background-color: darkred">
                                                            {{ request.requested_by.abbreviation }}
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>

                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}