{% extends "urlaubsantrag/main.html" %}
{% load static %}

{% block details %}

    <div class="container hr-text">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="p-5">

                    <div class="text-center">
                        <h1 class="mb-4">Kalender:</h1>
                    </div>

                    {% if selected_year_dict %}
                        <div class="card">
                            {% for month in selected_year_dict.months %}
                                <div class="card-body">
                                    <div class="text-center">
                                        <h1 class="mb-4">{{ month.month_name }}</h1>
                                    </div>

                                    <div class="card">
                                        {% for week in month.weeks %}
                                            <div class="card-body row justify-content-evenly">
                                                <div class="card-body col hr-accent border-3 rounded-2 " style="width: calc(100% / 7)">
                                                    {% if week.MO %}
                                                        {{ week.MO.day_number }}
                                                    {% endif %}
                                                </div>
                                                <div class="card-body col hr-accent border-3 rounded-2 p-3" style="width: calc(100% / 7)">
                                                    {% if week.DI %}
                                                        {{ week.DI.day_number }}
                                                    {% endif %}
                                                </div>
                                                <div class="card-body col" style="width: calc(100% / 7)">
                                                    {% if week.MI %}
                                                        {{ week.MI.day_number }}
                                                    {% endif %}
                                                </div>
                                                <div class="card-body col" style="width: calc(100% / 7)">
                                                    {% if week.DO %}
                                                        {{ week.DO.day_number }}
                                                    {% endif %}
                                                </div>
                                                <div class="card-body col" style="width: calc(100% / 7)">
                                                    {% if week.FR %}
                                                        {{ week.FR.day_number }}
                                                    {% endif %}
                                                </div>
                                                <div class="card-body col" style="width: calc(100% / 7)">
                                                    {% if week.SA %}
                                                        {{ week.SA.day_number }}
                                                    {% endif %}
                                                </div>
                                                <div class="card-body col" style="width: calc(100% / 7)">
                                                    {% if week.SO %}
                                                        {{ week.SO.day_number }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>

                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}