{% extends "urlaubsantrag/main.html" %}
{% load static %}

{% block details %}

    <div class="container hr-text">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="p-5">

                    <div class="text-center">
                        <h1 class="mb-4">Benutzer:</h1>
                    </div>

                    {% if users %}
                        <div class="row justify-content-center">
                            {% for user in users %}
                                <div class="position-relative col-12 card hr-accent mx-2 my-2">
                                    <div class="card-body text-center">
                                        <a href="/manage/user/{{ user.id }}/" class="stretched-link">
                                        </a>
                                        <div class="h4 card-title">
                                            {{ user.get_full_name }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}